@model RealStateDataModel.DTOs.TbPropertyDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Property Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeInternal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeInternal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            Owner
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owners.FullName) 
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProperty">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (Model?.Slides.Count > 0)
{
    <hr />
    <h2>Images</h2>
    <div class="image-container">
        @foreach (var slide in Model.Slides)
        {           
            <div class="image-thumbnail">
                <img src="@slide.ImageUrl">
                <hr />
            </div>
        }
    </div>
}
