@model RealStateDataModel.Models.PropertyIndex

@{
    ViewData["Title"] = "Index";
}

<h1>PROPERTIES</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

 <form asp-action="Index">
    <h3>FILTERS</h3>
    <table class="table">
        <thead>
            <tr>
                <th colspan="7">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>
                        <label asp-for="IdOwner"></label>
                        <input asp-for="IdOwner" placeholder="Owner Id" />
                    </td>
                    <td>
                        <label asp-for="MinPrice" ></label>
                        <input asp-for="MinPrice" placeholder="Min Price range" />
                        <label asp-for="MaxPrice"></label>
                        <input asp-for="MaxPrice" placeholder="Max price range" />
                    </td>
                    <td>
                        <label asp-for="Name"></label>
                        <input asp-for="Name" placeholder="Property Name" />
                    </td>
                    <td>
                        <label asp-for="Address"></label>
                        <input asp-for="Address" placeholder="Property Address" />
                    </td>
                    <td>
                         <label asp-for="CodeInternal"></label>
                        <input asp-for="CodeInternal" placeholder="Property Code Internal" />
                    </td>
                    <td>
                        <label asp-for="Year"></label>
                        <input asp-for="Year" placeholder="Property Year" />
                    </td>
                    <td>
                    </td>
                </tr>
        </tbody>
    </table>

    <p>
        <input type="submit" value="Search" class="btn btn-primary" />
        <a class="btn btn-primary" asp-action="Index" >Clean</a>
    </p>
</form>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeInternal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Properties) 
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeInternal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owners.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProperty">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProperty">Details</a> 
                </td>
            </tr>
    }
    </tbody>
</table>
